<div *ngIf="anonymous"> 
  <app-nav-bar></app-nav-bar>
</div>
<div *ngIf="!anonymous"> 
<app-nav-bar-profile></app-nav-bar-profile>
</div>
<div> 


    <div class="title">
    <h1>  All companies</h1>
    </div>

    <div class="search"> 
        <div class="row"> 

       <div class="col-sm-9">
        <input type="text" class="form-control " placeholder="Company name or city" > 
       </div>
       <div class="col-sm-3">
         <button class="btn btn-outline-primary"> Search</button>
    </div>      
    </div>
    </div>

    <!-- cards-->
 <div class="company-container"> 
  <div class="row"> 
  <div class="col" *ngFor="let c of companies" > 
    <div class="card" style="width: 23rem; height: 20rem; margin-left: 1rem; margin-right: 1rem;"  >
        <div class="card-header"> <div class="row"> <div class="col-sm-4"> <img [src]="c.logoImage" class="logo-company">  </div> <div class="col-sm-5"><h5 class="card-title">{{c.name}}</h5> </div> </div></div>
      
        <div class="card-body">
           
          <span>
         <span class="fa fa-star checked">{{c.grade | number}}</span></span>
         <hr/>
         <p class="card-text">Offices: {{c.offices}} </p>
         <p class="card-text">Employees: {{c.numberOfEmployees}} </p>
         
        </div>
        <div class="card-footer">  <a (click)="goToCompany(c.id)" class="card-link" style="margin-left: 8rem ;">Check company</a></div>
      </div>
     </div>
</div>
</div>
    

<div id="signIn" class="modal fade " style="display: none; " role="dialog" aria-hidden="true">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign in</h4>
        </div>
        <div class="modal-body">
            <div class="form">
                      <label style="font-size: medium;">Username</label>
                     <input type="text" class="form-control" placeholder="Enter Username" > 
                 
                      <label style="font-size: medium;">Password</label>
                      <input type="password" class="form-control" placeholder="Enter Password" >
                    
            </div>
  
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="margin-right:30px; " data-dismiss="modal"  >Confirm</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
  
    <div id="registration" class="modal fade " style="display: none; " role="dialog" aria-hidden="true">
      <div class="modal-dialog">
    
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Register</h4>
          </div>
          <div class="modal-body">
              <div class="form">
                <label style="font-size: medium;">Name</label>
                <input type="text" class="form-control" placeholder="Enter Name" > 
            
                 <label style="font-size: medium;">Surname</label>
                 <input type="text" class="form-control" placeholder="Enter surname" >
  
                        <label style="font-size: medium;">Email</label>
                       <input type="text" class="form-control" placeholder="Enter email" > 
                       <label style="font-size: medium;">Telephone</label>
                       <input type="text" class="form-control" placeholder="Enter telephone" > 
                       
                        <label style="font-size: medium;">Address</label>
                        <div class="row">
                          <div class="col-sm-7"> 
                          <input type="text" class="form-control" placeholder="Street" > 
                          </div>
                          <div class="col-sm-5"> 
                            <input type="text" class="form-control" placeholder="Number" > 
                          </div>
                           </div>
                           <div class="row">
                            <div class="col-sm-7"> 
                            <input type="text" class="form-control" placeholder="City" > 
                            </div>
                            <div class="col-sm-5"> 
                              <input type="text" class="form-control" placeholder="Country" > 
                            </div>
                             </div>
                       <label style="font-size: medium;">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" >
                        <label style="font-size: medium;">Repeat password</label>
                        <input type="password" class="form-control" placeholder="Enter repeted password" >
              </div>
    
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" style="margin-right:30px; " data-dismiss="modal"  >Confirm</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
  </div>
  