<div> <app-nav-bar></app-nav-bar> </div>
<div>

    <div class="search"> 
        <div class="row"> 

       <div class="col-sm-9">
        <input type="text" class="form-control " placeholder="Position or company" > 
       </div>
       <div class="col-sm-3">
         <button class="btn btn-outline-primary"> Search</button>
    </div>      
    </div>
    </div>

    <div class="card">
        
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                 <img src="../../assets/background.jpg" style="width:100%; height: 100%;"> 
                </div>
                <div class="col-sm-9">
                    <div class="row">
                      <h4 class="card-title" style="margin-left:1rem">Senior automation quality engineer</h4> 
                      </div>

                      <div class="row"> 
                         <div class="col-sm-4">
                      <h5 class="card-title" >Company name</h5> 
                    </div>
                    <div class="col">
                        <span>
                            <span class="fa fa-star checked"></span> 1 </span>
                      </div>
                      </div>
                      <div class="row"> 
                        <div class="col-sm-4">
                     <p class="card-title" >City</p> 
                   </div>
                 
                     </div>
                     <div class="row"> 
                        
                   <div class="col-sm-8">
                    <p class="card-title" >position</p> 
                  </div>
                  <div class="col-sm-4" style="text-align: right; ">
                   
                   </div>
                     </div>
                     <div class="row"> 
                        <div class="col-sm-9">
                     <p class="card-title" ><label style="background-color: rgb(112, 140, 180); opacity: 0.5; color: white; padding: 6px; border-radius: 20%;"> java </label> <label style="background-color: rgb(112, 140, 180); opacity: 0.5; color: white; padding: 6px; border-radius: 20%; margin-left: 3px;margin-right: 3px;"> angular </label></p> 
                   </div>
                   <div class="col-sm-3"  style="text-align: right; ">
                    <button class="btn btn-outline-secondary" > Apply </button>
                  </div>
                     </div>
                    </div>
            </div>
        </div>
      </div>
</div>

