<div> 
  <app-nav-bar></app-nav-bar>

</div>

<div > 
  <img class="background-image"   src="../../assets/background.jpg">

  <div class="card-container" style="margin-top: -33rem;">
    <a class="card" target="_blank" rel="noopener" href="https://www.dream-job.eu/en/home" style="background: transparent">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
       <span> <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:rgb(0, 128, 255); margin-top: 1rem;font-size: 20px;" >Find</p></span>
      
   </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.skillshare.com/" style="background: transparent">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
     
      <span> <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:rgb(0, 128, 255); margin-top: 1rem; font-size: 20px;">Learn</p></span>
      
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://www.forbes.com/sites/allbusiness/2017/03/31/10-essential-steps-to-prepare-yourself-for-a-job-interview/" style="background: transparent">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:rgb(0, 128, 255); margin-top: 1rem; font-size: 20px;">Prepare yourself</p></span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
    </a>


  </div>
</div>