<div *ngIf="anonymous"> 
    <app-nav-bar></app-nav-bar>
</div>
<div *ngIf="!anonymous"> 
  <app-nav-bar-profile></app-nav-bar-profile>
</div>
<div class="backgroundImage">

    <div class="header">
        <div class="row" >
            <div class="col-sm-4"> <img [src]="company.logoImage" class="logo"> </div>
            
            <div class="col-sm-7 col-info" >
                <div class="row">
                    <div class="col-sm-5"> 
                       <h2>{{company.name}}</h2> 
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-5"> <span class="fa fa-star checked"></span>
                       {{ company.grade}}</div>
                 </div>

             </div>

        </div>
       
    </div>



</div>
<!-- nav tabs  -->
<div class="informations">
  <div class="tab">
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#company-info" style="font-size: larger;">Informations about company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#comments" (click)="showComments()" data-toggle="tab" style="font-size: larger;">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#salaryandben"  data-toggle="tab" style="font-size: larger;">Salary and benefits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#interview"   data-toggle="tab" style="font-size: larger;">Interview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#jobs"  data-toggle="tab" style="font-size: larger;">Jobs</a>
    </li>
   
  </ul>

  <div class="tab-content" > 
    <div id="company-info" class="container tab-pane active"> 
        <div class="row">
        <div class="col-sm-2"> <label > Company name </label> </div>    
        <div class="col-sm-2"> <h5> {{company.name}} </h5> </div>  
        <div class="col-sm-2"> <label > Year of opening </label> </div>    
        <div class="col-sm-1"> <h5>{{company.yearOfOpening}} </h5> </div>  
        <div class="col-sm-1"> <label >Employees </label> </div>    
        <div class="col-sm-1"> <h5> {{company.numberOfEmployees}} </h5> </div>  
        <div class="col-sm-1"> <label > Offices </label> </div>    
        <div class="col-sm-2"> <h5> {{company.offices}} </h5> </div>  
        </div>
      <hr/>

      <div class="description"> 
      <div class="row " style=" margin-top: 2%; ">
      <h5> About us: </h5>  
      </div>  
      <div class="row">
        <p style="font-size: 20px ; margin-top: 3%;"> {{company.description}} </p>  
        </div>
      </div>
        
    </div>

    <div id="comments" class="container tab-pane fade">
     
      <div class="card" *ngFor=" let comment of comments">
        
        <div class="card-body">
            <div class="row">
                
                <div class="col-sm-11">
                    <div class="row">
                      <h4 class="card-title" style="margin-left:1rem">{{comment.title}}</h4> 
                      </div>

                      <div class="row"> 
                         <div class="col-sm-2">
                      <p >Grade</p> 
                    </div>
                    <div class="col-sm-2">
                        <span>
                            <span class="fa fa-star checked"></span> {{comment.grade}} </span>
                      </div>
                     
                      </div>
                      <label style="margin-right: 2rem ;"> Position: {{comment.position}}</label>
                      <label style="margin-right: 2rem ;"> Experience: {{comment.levelOfExperience}}</label>
                      <label *ngIf="comment.currentlyEmployed" style="margin-right: 2rem ;"> Currently employed: Yes </label>
                      <label *ngIf="!comment.currentlyEmployed" style="margin-right: 2rem ;"> Currently employed: No </label>
                      <label  style="margin-right: 2rem ;"> Engagement: {{comment.engagement}} </label>
                      <label  style="margin-right: 2rem ;"> Position: {{comment.position}} </label>
                      <div class="row"> 
                        <div class="col-sm-2">
                     <p >Positive</p> 
                   </div>
                   <div class="col-sm-9">
                    <label  style="margin-right: 2rem ;">  {{comment.positive}} </label>
                     </div>
                    
                     </div>
                     <div class="row"> 
                      <div class="col-sm-2">
                   <p >Negative</p> 
                 </div>
                 <div class="col-sm-9">
                  <label  style="margin-right: 2rem ;">  {{comment.negative}} </label>
                   </div>
                  
                   </div>

                    </div>
            </div>
        </div>
    </div>

  </div>
    <div id="salaryandben" class="container tab-pane fade"> </div>
    <div id="interview" class="container tab-pane fade"> </div>
    <div id="jobs" class="container tab-pane fade"> 

      <div class="card">
        
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                 <img src="../../assets/background.jpg" style="width:100%; height: 100%;"> 
                </div>
                <div class="col-sm-9">
                    <div class="row">
                      <h4 class="card-title" style="margin-left:1rem">Senior automation quality engineer</h4> 
                      </div>

                      <div class="row"> 
                         <div class="col-sm-4">
                      <h5 class="card-title" >Company name</h5> 
                    </div>
                    <div class="col">
                        <span>
                            <span class="fa fa-star checked"></span> 1 </span>
                      </div>
                      <button class="btn btn-outline-primary" > Promote on dislinkt </button>
                      </div>
                      <div class="row"> 
                        <div class="col-sm-4">
                     <p class="card-title" >City</p> 
                   </div>
                 
                     </div>
                     <div class="row"> 
                        
                   <div class="col-sm-8">
                    <p class="card-title" >position</p> 
                  </div>
                  <div class="col-sm-4"  style="text-align: right; ">
                   
                  </div>
                     </div>
                     <div class="row"> 
                        <div class="col-sm-9">
                     <p class="card-title" ><label style="background-color: rgb(112, 140, 180); opacity: 0.5; color: white; padding: 6px; border-radius: 20%;"> java </label> <label style="background-color: rgb(112, 140, 180); opacity: 0.5; color: white; padding: 6px; border-radius: 20%; margin-left: 3px;margin-right: 3px;"> angular </label></p> 
                   </div>
                   <div class="col-sm-3"  style="text-align: right; ">
                    <button class="btn btn-outline-secondary" > Delete </button>
                  </div>
                     </div>
                    </div>
            </div>
        </div>
      </div>

    </div>
  </div>
 </div> </div>
